<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;DatabaseName=Demo</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password">13480239254</property>
		
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.timeout">5000</property>
		
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.acquire_increment">2</property>
		<property name="hibernate.c3p0.validate">true</property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!-- 禁用二级缓存，防止内存溢出 -->
		<property name="hibernate.cache.ues_second_level_cache">false</property>
		
		<!-- 自动提交事务 -->
		<property name="connection.autocommit">true</property>
		
		<property name="javax.persistence.validation.mode">none</property>    
		
		<mapping resource="com/edu/gdufs/edin/demo/model/getNewsCounters.hbm.xml"/>
		<mapping resource="com/edu/gdufs/edin/demo/model/News.hbm.xml"/>
		<mapping resource="com/edu/gdufs/edin/demo/model/NewsCounter.hbm.xml"/>
 		<!-- <mapping resource="com/edu/gdufs/edin/demo/model/Nletter.hbm.xml"/> -->
		<mapping resource="com/edu/gdufs/edin/demo/model/Nword.hbm.xml"/>
		<mapping resource="com/edu/gdufs/edin/demo/model/NwordsCounter.hbm.xml"/>
		<mapping resource="com/edu/gdufs/edin/demo/model/Oword.hbm.xml"/>
<!-- 		<mapping resource="com/edu/gdufs/edin/demo/model/Pword.hbm.xml"/> -->
					   
	</session-factory>
</hibernate-configuration>
